[submodule "ninja-framework"]
	path = ninja-framework
	url = git@github.com:reyez/ninja.git
[submodule "ninja-appengine"]
	path = ninja-appengine
	url = git@github.com:reyez/ninja-appengine.git
[submodule "ninja-ebean"]
	path = ninja-ebean
	url = git@github.com:ninjaframework/ninja-ebean.git
